* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #333;
}

.loading-container {
  z-index: 100;
  position: fixed;
}

.loading {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 20px solid white;
  border-left: 20px solid orange;
  /* animation: loading 3s; */
  display: none;
  z-index: 20;
  position: fixed;
  inset: 45%;
  opacity: 0;
}

.background {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 200%;
  /* animation: background 3s forwards; */
  display: none;
  background-color: #3d3d3d;
  opacity: 0;
}

@keyframes background {
  0% {
    opacity: 1;
    background-color: #3d3d3d;
    z-index: 1;
  }

  50% {
    opacity: 1;
    background-color: #3d3d3d81;
    z-index: 1;
  }

  100% {
    opacity: 0;
    background-color: transparent;
    z-index: -1;
    visibility: hidden;
  }
}

@keyframes loading {
  from {
    display: block;
    transform: rotate(0);
    opacity: 1;
  }

  to {
    transform: rotate(720deg);
    opacity: 0;
    visibility: hidden;
  }
}

nav {
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.menu > a {
  border: 1px solid black;
}

.menu > li {
  margin-top: 40px;
}

.menu {
  display: flex;
  width: auto;
  gap: 0 60px;
  font-size: 20px;
}

.menu a {
  font-weight: bold;
}

.menu:nth-child(3) a {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  border: 1px solid black;
}

.menu:nth-child(2) > li > ul li {
  height: 0;
  overflow: hidden;
  color: white;
  transition: 0.3s;
  background-color: #333;
  text-align: center;
  line-height: 50px;
}

.menu:nth-child(2) > li > ul li:hover {
  background-color: #ffc500;
}

.menu:nth-child(2) > li:hover > ul li {
  height: 50px;
}

.menu:nth-child(2) > li > ul a {
  color: #ffffff;
}

.menu:nth-child(2) > li > ul a:hover {
  color: #ffffff;
}

.menu:nth-child(3) > li:nth-child(odd) > a {
  background-color: #333;
  color: white;
}
/* 메뉴 */

img {
  object-fit: cover;
}

.content > div {
  width: 1400px;
  margin: 100px auto;
}

.title-part {
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-around;
  font-size: 100px;
  background-color: #ffc500;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.138);
}

.title-part > div {
  font-weight: 600;
  color: white;
}

.title-part .fa {
  font-size: 150px;
}

.introduction {
  display: flex;
  flex-direction: column;
}

.introduction > div {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.imgsBox > div {
  transition: 0.1s;
  height: 600px;
  width: 300px;
  background-size: 1300px 900px;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.imgsBox {
  font-size: 30px;
  text-align: center;
}

.imgsBox div {
  color: white;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  background-color: #9f7a0082;
  transition: .1s;
}

.des{
  opacity: 0;
}



.img01 {
  background: url(../imgs/img01.JPG);
  background-position: 0px;
}

.img02 {
  background: url(../imgs/img02.JPG);
  background-position: -250px;
}

.img03 {
  background: url(../imgs/img03.JPG);
  background-position: -500px;
}

.img04 {
  background: url(../imgs/img04.JPG);
  background-position: -750px;
}

.img05 {
  background: url(../imgs/img05.JPG);
  background-position: -1000px;
}

.imgsBox > div > div {
  margin: 15px;
}

/* 전체 footer 스타일 */
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.265);
}

.footer-section {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  width: 1400px;
  margin: 0 auto;
  padding: 10px;
}

.link {
  border: 3px solid #ffc500;
  width: 1000px;
  height: 80px;
  line-height: 60px;
  font-size: 15px;
  font-weight: bold;
}
.sns {
  width: 400px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: 40px;
}

.footer-section img {
  filter: grayscale(100%);
}
